#topbar{
    background:transparent;
    height: 60px;
    color: blue;
    text-align: center;
    width: 100%;
    border: 1px solid red;
}

.sticky{
    position: fixed;
    top:0;

}

main{
    background:#ddd;
    height: 1000px;
    text-align: center;
}